:root {
    --fonte: 'Roboto';
    --amarelo-escuro: #C3B488;
    --cinza: #9A9A9A;
    --cinza-barra: #D9D9D9;
    --cinza-claro: #E7E7E7;
    --branco: #ffffff;
    --azul: #384C7C;
    --amarelo: #CBB155;
    --preto: #000000;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(108, 107, 109);
    padding: 40vh 25vw;
    font-family: var(--fonte);
    color: var(--preto);
    font-weight: 400;
    font-size: 16px;
}

.card {
    background-color: white;
    width: 50vw;
    height: auto;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.5em;
}

.card-container {
    display: flex;
    padding-bottom: 1em;
    gap: 1em;
    height: 50%;

}

/* imagem de perfil */

.card__imagem {
    border: 0.5px var(--cinza-barra);
    height: 150px;
    border-radius: 100000px;
}

/* descricao */

.card__nome{
    color: var(--amarelo-escuro);
    font-weight: 700;
    font-size: 32px;
}

.card__subtitulo {
    color: var(--cinza);
}

.card__divisor {
    width: 50%;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__markets {
    color: var(--azul);
    font-weight: 600;
} 

/* parte deireita do card topo */

.card-direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 1em;
    gap: 1em;
}

.card-direita__img {
    width: 100px;
}

.card-direita__fav {
    width: 25px;
    margin-left: auto;
}


/* parte de baico do card */


.barra-de-progresso {
    width: 85%;
}

.barra-de-progresso .barra-de-progesso__caixa{
    width: 100%;
    background-color: var(--cinza-claro);
    height: 10px;
    border: 0.5px solid var(--cinza-barra);
    border-radius: 20px;
}

.barra-de-progresso .barra-de-progesso__caixa .barra-de-progesso__linha {
    height: 10px;
    border-radius: 20px;
    background-color: var(--azul);
}

.barra-de-progesso__linha {
    width: 36%;
}

.barra-de-progesso__porcentagem {
    font-weight: 700;
}

.barra-de-progresso__container {
    display: flex;
    justify-content: space-between;
}

/* botoes */

.card-botoes {
    padding-top: 0.5em;
    display: flex;
    width: 100%;
    font-weight: 600;
}

.card-botoes__container {
    display: flex;
    align-items: center;
    width: 85%;
}

.card-buttons__botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--branco);
    text-decoration: none;
    color: var(--amarelo);
    border: 2px solid var(--amarelo);
    border-radius: 5px;
    width: 100%;
    margin-right: 8px;
}

.car-buttons__botao__cheio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    text-decoration: none;
    color: var(--branco);

    padding: 0.8em;
    width: 15%;
    background-color: var(--amarelo);
    border-radius: 5px;
    border: 2px solid var(--amarelo);
}

.card-botoes__icon {
    width: 24px;
}

/* hover botoes */

.card-buttons__botoes:hover {
    background-color: var(--amarelo);
    color: var(--branco);
    transition: 0.5s;
}

.car-buttons__botao__cheio:hover{
    color: var(--amarelo);
    transition: 0.5s;
    background-color: var(--branco);
    cursor: pointer;
    border: 2px solid var(--amarelo);
}

.card-botoes__icon.animate-out {
    transform: scale(0.8);
    filter: brightness(100%);
    transition: transform 0.5s, filter 0.5s;
  }

@media screen and (max-width: 1024px){
    .card {
        width: 70vw;
    }
    body {
        padding: 40vh 15vw;
    }
}

@media screen and (max-width: 700px){
    body{
        font-size: 6px;
        padding: 40vh 20vw;
    } 

    .card {
        width: 55vw;
    }

    .card__imagem {
        border: 0.5px var(--cinza-barra);
        height: 60px;
    }

    .card__nome{
        color: var(--amarelo-escuro);
        font-weight: 700;
        font-size: 12px;
    }

    .card-direita__img {
        width: 50px;
    }
    
    .card-direita__fav {
        width: 12px;
        margin-left: auto;
    }

    .barra-de-progresso .barra-de-progesso__caixa{
        height: 5px;
    }

    .barra-de-progresso .barra-de-progesso__caixa .barra-de-progesso__linha {
        height: 5px;
    }
    
    .card-botoes__icon {
        width: 12px;
    }
}
